body {
    background-image: radial-gradient(#1589FF, #000000);
    color: #F9F8F6;
    font-family: monospace;
}

h1,
h2 {
    font-family: monospace;
    text-align: center;
}

table,
td,
th {
    border: 1px solid #F9F8F6;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
}

th, td {
    padding: 10px;
}

.a_favorites {
    color: #F9F8F6;
}

.a_favorites:hover {
    color: #5C5858;
}

tr:hover {
    background-color: #5C5858;
}

.nav_link {
    position: relative;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #F9F8F6;
    color: #F9F8F6;
}

.nav_link:hover {
    background-color: #5C5858;
}

.nav_index {
    color: #F9F8F6;
    border: 1px solid #F9F8F6;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 10px;
}

.nav_index:hover {
    background-color: #5C5858;
}

.p_index {
    position: relative;
    top: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.p_all {
    margin-left: 50px;
    margin-right: 50px;
}

ol, ul {
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    margin-top: 45px;
    margin-bottom: 30px;
}


/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links */
