body {
    background-image: linear-gradient(#9198e5, #000000);
    color: #FFFFFF;
    font-family: monospace;
    text-align: center;
}

h1 {
    font-family: monospace;
    text-align: center;
}

table,
td,
th {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
}

th {
    padding: 10px;
}

tr:hover {background-color: #5C5858}

a {
    color: #FFFFFF;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links */
